<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-5.0.2.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">
<bean id="t1" class="kr.hs.study.beans.TestBean1"/>
<bean id="t2" class="kr.hs.study.beans2.TestBean1"/>
    <bean id="advicepoint" class="kr.hs.study.advice.AdviceClass"/>
<aop:config>
    <aop:aspect ref="advicepoint">
        <!--리턴타입, 클래스이름 상관 없고 모든 패키지의 method1이라는 이름의 메서드를 pointcut으로 지정-->
<!--        <aop:pointcut id="point" expression="execution( * method1())"/>-->
        <!--void타입, TestBean1.method1()만 포인트컷-->
<!--        <aop:pointcut id="point" expression="execution(void kr.hs.study.beans.TestBean1.method1())"/>-->
        <!--void, kr.hs.study.beans.TestBean1의 method1, 매개변수 int 1개-->
<!--        <aop:pointcut id="point" expression="execution(void kr.hs.study.beans.TestBean1.method1(int))"/>-->
        <!--String 타입에 매개변수 1개를 가진 애만 나옴-->
<!--        <aop:pointcut id="point" expression="execution(void kr.hs.study.beans.TestBean1.method1(String))"/>-->
        <!--모든 타입의 매개변수 1개(개수는 상관있음)-->
<!--        <aop:pointcut id="point" expression="execution(void kr.hs.study.beans.TestBean1.method1(*))"/>-->
<!--        <aop:pointcut id="point" expression="execution(void kr.hs.study.beans.TestBean1.method1(int, int))"/>-->
        <!--모든 타입의 매개변수 2개-->
<!--        <aop:pointcut id="point" expression="execution(void kr.hs.study.beans.TestBean1.method1(*, *))"/>-->
        <aop:before method="beforeMethod" pointcut-ref="point"/>
    </aop:aspect>
</aop:config>

</beans>